svg {
    overflow: hidden;

    g {
        path {
            stroke: black;
            stroke-width: 2;
            fill: none;
        }
    }

    .axisx {
        text {
            text-anchor: middle;
        }

        math {
            padding-right: 3px;
        }
    }

    .axisy {
        text {
            text-anchor: end;
            alignment-baseline: central;
        }

        .title {
            transform: translate(27px, 48px) rotate(-90deg);
            transform-origin: -50px 0;
        }

        &.oppositeSide {
            .title {
                transform: translate(0px, 48px) rotate(-90deg);
                transform-origin: 0 0;
            }
        }
    }

    .axis {
        line {

            stroke: black;
            stroke-width: 2;
        }
    }

    .projection {
        stroke: #888;
        stroke-width: 1;
        stroke-dasharray: 5 5;
    }

    .installedPower {
        stroke: #000;
        stroke-width: 2;
        stroke-dasharray: 20 10 5 10;
    }

    .measureLine {
        stroke: #b71;
        stroke-width: 3;

        &.verticalMeasureLine {
            cursor: ew-resize;
        }

        &.horizontalMeasureLine {
            cursor: ns-resize;
        }
    }
}
.barGraph {
    &__plane {
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        gap: 20px;
        align-items: flex-end;
    }
    &__bar {
        width: 100%;
        position: relative;

        &-value, &-label {
            font-size: 11px;
            position: absolute;
            left: 50%;
            white-space: nowrap;
            transform: translateX(-50%);
        }
        &.bordered {
            border: 2px solid rgba(42, 67, 94, 0.8);
        }
    }
    &__graph {
        margin-bottom: 10px;
        padding: 5px 20px;
        width: 100%;
        max-width: 1000px;
        box-sizing: border-box;
        border: 1px solid #bbc7d5;
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        &-title {
            display: flex;
            align-items: center;
            gap: 6px;

            & > div {
                font-size: 14px;
                width: 15%;
                text-align: right;

                &:first-child {
                    font-weight: 500;
                    width: 70%;
                    text-align: center;
                }
            }
        }
        &-container {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &-y-label {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            & > div {
                font-size: 14px;
                text-align: center;
            }
        }
        &-x-label {
            font-size: 14px;
            width: 70%;
            text-align: center;
            align-self: flex-end;
        }
        &-plane {
            width: 70%;
        }
    }
}